1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램

In [3]:
sum = 0

for index in range(1, 11):
    sum=sum+index
print(sum)

55

2~9단 곱셈구구표 출력 프로그램

In [10]:
sum=0

for index1 in range(2,10):
    print()
    print(index1,"단")
    print()
    for index2 in range(1,10):
        sum=index1*index2
        print(index1, '*', index2, '=', sum)
    print('-------------------')

2 단

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
-------------------

3 단

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
-------------------

4 단

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
-------------------

5 단

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
-------------------

6 단

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
-------------------

7 단

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
-------------------

8 단

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
-------------------

9 단

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
-------------------

사용자로부터 2~9사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하기

In [11]:
data = int(input())

if data >=2 and data <=9:
    for digit in range(1,10):
        print(data, "*", digit, "=", data * digit)

4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

In [13]:
data = "Dave,David,Andy,Arthor"

data_list=data.split(",")

print(data_list)

for str_data in data_list:
    print(str_data)

['Dave', 'David', 'Andy', 'Arthor']
Dave
David
Andy
Arthor

In [14]:
data = input()

data_list=data.split(",") #문자열 쪼개기

print(data_list)

for str_data in data_list:
    print(str_data)

Dave,David,Andy,Arthor
['Dave', 'David', 'Andy', 'Arthor']
Dave
David
Andy
Arthor

In [15]:
data = "[Dave],[David],[Andy],[Artchor]"

for str_data in data.split(","):
    print(str_data)

[Dave]
[David]
[Andy]
[Artchor]

In [17]:
data = "[Dave],[David],[Andy],[Artchor]"

for str_data in data.split(","):
    print(str_data[1:-1]) #슬라이서

Dave
David
Andy
Artchor